<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">团队成员介绍</h2>
                    <h3 class="section-subheading text-muted">我们来自五湖四海，因为使命和梦想相遇</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2014</h4>
                                    <h4 class="subheading">Freelance Web Developer / Designer</h4>
                                </div>
                                <div class="timeline-body">
                                        <ul>
                                            <li>    
                                                <p class="text-muted">
                                                Designed and developed websites and applications for clients in Vancouver and K/W
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Worked closely with business owners to develop strategy
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Leveraged illustrations, photography and videos for maximum impact
                                                </p>
                                                </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>袁弘，需求分析和架构设计师</h4>
                                </div>
                                <div class="timeline-body">
                                    <span>37岁，有着14年的软件开发经验和需求分析经验，曾在江苏移动和华为任职，参与制定多个大型项目的总体架构，指导整个开发团队完成项目。在系统全局分析设计和实施、负责软件构架和关键技术决策方面有着丰富的经验</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>刘银, 软件开发工程师</h4>
                                    <span>28岁  ，本科学历，工作经验6年，参与过江苏移动CRM，中国电信ABM（数据共享中心），中国电信云计算化，集装箱识别系统等大型系统开发。精通C++、oarcle、mysql、timesten、java、c#、javascript 、html等相关技术。华为工作期间每年被评为＂先进个人＂，＂优秀员工＂。被客户评为＂先进个人＂。</span>
                                </div>
                                <div class="timeline-body">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>